body {
  font-family: Helvetica, Arial, sans-serif; }

.jfForm {
  margin: 20px 0px; }

.jfTitle {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px; }

.jfBtn {
  text-decoration: none;
  color: #282828;
  display: inline-block;
  background-color: #F7F7F7;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #999;
  margin-bottom: 10px; }

.chosen-container {
  margin-bottom: 10px; }

.jfAdd {
  width: 30px;
  height: 30px;
  line-height: 30px; }

.jfDel {
  vertical-align: middle;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  line-height: 20px; }
