<% if(typeof(jfTitle)!== 'undefined') { %><span class="jfTitle"><%= jfTitle %></span><% } %>
<% if(typeof(jfHelper)!== 'undefined') { %><span class="jfHelper"><%= jfHelper %></span><% } %>

<select class="chosen-select">
  <option value="true">true</option>
  <option value="false">false</option>
</select>