.jfCollectionItem {
  background-color: #FAFAFA;
  padding: 10px;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  margin-bottom: 5px;
  max-width: 400px;
}

.jfAdd {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.jfAdd[disabled] {
  opacity: 0.4;
  pointer-events: none;
}

.jfDel {
  font-size: 14px;
  text-decoration: none;
  padding: 3px 5px;
  margin-top: 10px;
  margin-left: 5px;
  color: white;
  display: inline-block;
  background-color: #ECC8C8;
}

.jfSort {
  font-size: 14px;
  margin-top: 10px;
  margin-right: 5px;
  color: #565555;
  display: inline-block;
  background-color: #DBDBDB;
  text-align: center;
  padding: 3px 5px;
  vertical-align: top;
  border-radius: 3px;
  cursor: pointer;
}

// Draggable

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

div.jfCollection .placeholder {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  &:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 5px solid transparent;
    border-left-color: red;
    border-right: none;
  }
}

