<% if(typeof(jfTitle)!== 'undefined') { %><span class="jfTitle"><%= jfTitle %></span><% } %>
<% if(typeof(jfHelper)!== 'undefined') { %><span class="jfHelper"><%= jfHelper %></span><% } %>

<a href="#" class="jfAdd jfBtn">+</a>