<% if(typeof(jfTitle)!== 'undefined') { %><span class="jfTitle"><%= jfTitle %></span><% } %>
<% if(typeof(jfHelper)!== 'undefined') { %><span class="jfHelper"><%= jfHelper %></span><% } %>

<select class="chosen-select">
  <% _.each(jfValues, function(val) { %>
    <option value="<%= val[0] %>"><%= val[1] %></option>
  <% }); %>
</select>