.jfField input[type="text"] {
  padding: 6px 10px;
  border: 1px solid #B0B0B0;
  border-radius: 5px;
  background-color: #F7F7F7;
  width: 300px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #444;
  outline: none;
}