body {
  font-family: Helvetica, Arial, sans-serif;
}

// general styles for forms

.jfForm {
  margin: 20px 0px;
}

.jfField {
}

.jfTitle {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.jfBtn {
  text-decoration: none;
  color: #282828;
  display: inline-block;
  background-color: #F7F7F7;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #999;
  margin-bottom: 10px;
}

// General styles for chosen

.chosen-container {
  margin-bottom: 10px;
}

@import "fields/boolean";
@import "fields/ajax";
@import "fields/fieldcollection";